
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

body{
    background: #1e7e34;
    background: -webkit-linear-gradient(-135deg, #28a745, #3c7cb7);
    background: -o-linear-gradient(-135deg, #28a745, #3c7cb7);
    background: -moz-linear-gradient(-135deg, #28a745, #3c7cb7);
    background: linear-gradient(-135deg, #28a745, #3c7cb7);
}

.navbar-brand{
    font-family: Poppins-Medium;
}